# ============================================
# BuyServer 项目 .gitignore
# 仅过滤编译中间文件和编译输出
# ============================================

# ==================== Go  ====================

# Go 二进制文件
*.exe
!*.exe.manifest

# ==================== Node.js (前端) ====================

# 依赖目录
**/node_modules/

# Next.js 构建输出
**/.next/
**/out/


# ==================== 项目编译输出 ====================

# 各模块的 dist 目录
**/dist/
**/user_config/